<div class="articles container">

    {{#each articles }}
    <div class="card border-dark">
        <div class="card-header border-dark">
            <h3 class="card-title">{{title}}</h3>
        </div>
        <div class="card-body">
            <a class="artLink bg-light text-secondary" href={{link}}>{{link}}</a>
            <button data-id={{_id}} class="btn btn-sm btn-dark float-right save-article">Save Article</button>
        </div>
    </div>
    <br />
    <br /> {{/each}}

</div>